html,body{
  width: 100%;
  height: 100%;  
}
ul{
  list-style: none;
  margin: 0;
  padding: 0; 
}
img{
  display: block;
  width: 100%;
}



.lt_container{
  width: 100%;
  height: 100%;
  background-color: #fff;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 55px;
  overflow: hidden;
  position: relative;
}
.lt_header{
  width: 100%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #006699;
  padding-left: 45px;
  padding-right: 45px;

}
.lt_header .icon_left,
.lt_header .icon_right{
  position: absolute;
  top: 0;
  width: 45px;
  height: 45px;
  /* background-color: pink; */
  text-align: center;
  line-height: 45px;
  color: #fff;
}
.lt_header .icon_left{
  left: 0;
}
.lt_header .icon_right{
  right: 0;
}
.lt_header h3{
  font-size: 20px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  line-height: 45px;
  margin: 0;
}

.lt_main{
  width: 100%;
  height: 100%; 
  position: relative;
}






.lt_footer{
  width: 100%;
  height: 55px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #006699;
  z-index: 2;
}
.lt_footer li{
  float: left;
  width: 25%;
  height: 55px;
  text-align: center;
}
.lt_footer li a{
  display: block;
  color: #fff;
  padding-top: 8px;
}
.lt_footer li a p{
  margin: 0;
  color: #fff;
}
.lt_footer li a.current{
  color: orange;
}
.lt_footer li a.current p{
  color: orange;
}
.lt_product{
  padding: 10px;
}
.lt_product li{
  width: 48%;
  float: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  /* margin-left: 10px; */

}
.lt_product li:nth-child(2n){
  float: right;
}
.lt_product li a{
  display: block;
  padding: 10px;
  text-align: center;
}
.lt_product li img{
  height: 130px;
  width: 130px;
  margin: 0 auto;
}
.lt_product li .lt_product_left{
  color: red;
}
.lt_product li .lt_product_right{
  text-decoration: line-through;
}